C:/Users/AKINBOYEWA TEMITOPE/AppData/Roaming/QGIS/QGIS3/profiles/default/python/plugins/AutonomousGIS_GeodataRetrieverAgent/LLM_Find/config.ini
C:/Users/AKINBOYEWA TEMITOPE/AppData/Roaming/QGIS/QGIS3/profiles/default/python/plugins/AutonomousGIS_GeodataRetrieverAgent/config_files/GitHubTokenConfig.ini

**/__pycache__/

/LLM_Find/openai_key_config.ini
/config_files/GitHubTokenConfig.ini
/LLM_Find/Keys/OpenTopography.keys
/LLM_Find/Keys/OpenWeather.keys
